<h2>Conflicts with 1000 Deaths or More in 2013 </h2>
<table>
  <thead>
    <tr>
      <th width="300">Year Conflict Started</th>
      <th width= "300">Conflict</th>
      <th width="300">Region</th>
      <th width="150">Country</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
    	<% for i in 0..65 %>
					<% if i % 7 == 0 %>
						<td> <h4><%= @conflicts[i] %></h4></td>
					<% end %>
				</tr>
				<tr>
					<% if i % 7 == 1 %>
						<td><%= @conflicts[i] %></td>
					<% end %>
				</tr>
					<% if i % 7 == 2 %>
						<td><%= @conflicts[i] %></td>
					<% end %>
					<% if i % 7 == 3 %>
						<td><%= @conflicts[i] %></td>
					<% end %>
		<% end %>
	</tr>
	</tbody>
</table>


<h2>Conflicts With Less than 1000 Deaths in 2013 </h2>

<table>
  <thead>
    <tr>
      <th width="300">Country</th>
      <th width= "300">Year Conflict Started</th>
      <th width="300">Conflict</th>
      <th width="150">Number of Casualties: 2013</th>
      <th width="150">Number of Casualties: Total</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
    	<% for i in 0..65 %>
					<% if i % 7 == 0 %>
						<td> <h4><%= @conflicts[i] %></h4></td>
					<% end %>
				</tr>
				<tr>
					<% if i % 7 == 1 %>
						<td><%= @conflicts[i] %></td>
					<% end %>
				</tr>
					<% if i % 7 == 2 %>
						<td><%= @conflicts[i] %></td>
					<% end %>
					<% if i % 7 == 3 %>
						<td><%= @conflicts[i] %></td>
					<% end %>
		<% end %>
	</tr>
	</tbody>

</table>

</div>