
<h1 class = "disastertitle">
	DISASTERS AND CONFLICTS
</h1>

<div class = "mapcontainer">
		
	<div id="map">
	</div>

</div>

<div id = "mapdata">
	<h3>Hover over country to see country data.</h3>
</div>

<div id = "disasters">
	<p>Click on a blue country to see info on current humanitarian disasters</p>
</div>


<div class = "row" id = "articles">

<h2>1000 Deaths or More </h2>
<% for i in 0..65 %>
	<% if i % 7 == 3 %>
		<h3><%= @conflicts[i] %></h3>
	<% end %>
<% end %>

<h2>Less than 1000 Deaths/Year </h2>
<% for i in 67..400 %>
	<% if i % 7 == 3 %>
		<h3><%= @conflicts[i] %></h3>
	<% end %>
<% end %>

<% for i in 0..65 %>
	<% if i % 7 == 3 %>
		<h3><%= @conflicts[i] %></h3>
	<% elsif i % 7 == 0 %>
		<%= @conflicts[i] %>
	<% elsif i % 7 == 1 %>
		<%= @conflicts[i] %>
	<% end %>
<% end %>

<br>
<br>

<% for i in 67..400 %>
	<% if i % 7 == 3 %>
		<h3><%= @conflicts[i] %></h3>
	<% elsif i % 7 == 0 %>
		<%= @conflicts[i] %>
	<% elsif i % 7 == 1 %>
		<%= @conflicts[i] %>
	<% end %>
<% end %>

</div>


