
<div class = "mapcontainer">
		
	<div id="map">
	</div>

</div>

<div id = "mapdata"></div>

<div id = "disasters"></div>


<div class = "row" id = "articles">


<% for i in 0..65 %>
	<% if i % 7 == 3 %>
		<h3><%= @conflicts[i] %></h3>
	<% elsif i % 7 == 0 %>
		<%= @conflicts[i] %>
	<% elsif i % 7 == 1 %>
		<%= @conflicts[i] %>
	<% end %>
<% end %>

<br>
<br>

<% for i in 67..400 %>
	<% if i % 7 == 3 %>
		<h3><%= @conflicts[i] %></h3>
	<% elsif i % 7 == 0 %>
		<%= @conflicts[i] %>
	<% elsif i % 7 == 1 %>
		<%= @conflicts[i] %>
	<% end %>
<% end %>

</div>


