
<div class = "main">
<!--================= HEADER ===================-->
<div class = "row">
	<div class = "small-1 columns">
	</div>
	<div class = "small-9 columns">
		<h1 class = "maintitle">DisasterWatch</h1>
		<h3 class = "maintitle">Stay informed.</h3>
	</div>
	<div class = "small-2 columns">
	</div>
</div>
<!--================= END HEADER ===================-->

<!--================= JSSOR SLIDER ===================-->
<div class = "row" id = "slider">
	<div class = "small-12 medium-12 large-centered columns">
		<div id="slider1_container">
    		<!-- Slides Container -->
    		<div u="slides" style="cursor: move; overflow: hidden; left: 0px; top: 0px; width: 900px; height: 500px;">
        	<div><img u="image" src="assets/hands.jpg" /></div>
        	<div><img u="image" src="assets/world_map_med.png" /></div>
        	<div><img u="image" src="assets/humanitarian.jpeg" /></div>
    	</div>
	</div>
</div>
<!--================ END JSSOR SLIDER =================-->

<!--=============== PARALLAX =====================-->

<!-- <div class="backgr hide-for-small-only">
</div> -->


<!--================= REGIONAL NEWS LINKS ===================-->
<div class = "row" id = "regionnewsbox"> 
	<div class = "small-10 columns">
		<ul class="large-block-grid-4">
			<li><img src="assets/africa_icon.jpg"><br>
			<%= link_to "Africa News", africanews_path %></li>
			<li><img src="assets/asia_icon.jpg"><br>
			<%= link_to "Asia News", asianews_path %></li>
			<li><img src="assets/europe_icon.jpg"><br>
			<%= link_to "Europe News", europenews_path %></li>
			<li><img src="assets/middle_east_icon.jpg"><br>
			<%= link_to "Middle East News", middleeastnews_path %></li>
			<li><img src="assets/north_america_icon.jpg"><br>
			<%= link_to "North America News", northamericanews_path %></li>
			<li><img src="assets/central_america_icon.jpg"><br>
			<%= link_to "Central America News", centralamericanews_path %></li>
			<li><img src="assets/south_america_icon.jpg"><br>
			<%= link_to "South America News", southamericanews_path %></li>
			<li><img src="assets/oceania_icon.jpg"><br>
			<%= link_to "Oceania News", oceanianews_path %></li>
		</ul>
	</div>
	<div class = "small-2 columns">
	</div>
</div>
<!--========= END NEWS LINKS ==========-->

</div>






