<h1>NEWS UPDATES</h1>
<% @updates["articles"].each do |u| %>
		<h3><%= u["title"] %></h3> <br>
		<%= u["summary"] %> <br>
		<%= u["publish_date"] %><br>
		<%= u["source"] %><br>
		<%= u["url"] %><br>
	<% end %>
