<%= render 'regional' %>


<div class = "row">
	<h1 class = "headlinetitle">Headlines from Africa</h1>
</div>

<div class = "row">
	<% @africanews["articles"].each do |u| %>
		<div class = "worldheadline">
			<h3><%= u["title"] %></h3> <br>
			<h4 class = "subheader"><%= u["publish_date"] %></h4><br>
			<p><%= u["summary"] %><p><br>
			<a href= "#"><%= link_to nil, u["url"] %><br></a>
		</div>
	<% end %>
</div>